* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.cabecalho {

    background-color: rgb(78, 135, 168);
    padding: 70px;

}


.menu-header {
    display: flex;
    justify-content: end;
}



.menu-header li {
    list-style: none;
    margin-left: 20px;
}

.menu-header li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.menu-header a:hover {
    color: blue;
    transition: 0.8s;
}

/* px é uma unidade de medida de tamanho fixo*/
/* em - Ele trabalha em relação ao tamanho da fonte do elemento pai/* 2em é igual a 20 px  3em é 30 px/* sempre no font size/ em olha sempre pro elemento pai
/* rem - R significa root em = ele vai depender do elemento pai em tudo (html) documento principal da página*/
/*rem sempre olha para o html*/
/* mais usual usar este parâmetro para contagem */
/* em ele vai olhar sempre para o elemnto pai (padrão)*/
/*rem sempre estará olhando para o elemento pai dele html*/
/* vh - viewport height tamamho em relação a tela do uduário*/
/*vw - viewport width tamanho (largura) em relação a tela do usuário*/





#sessao {
    padding: 15rem;
    background: linear-gradient(180deg, #c0c0c0 8.33%, rgba(90, 168, 168) 100%);
}
/* aqui é o site da cor https://cssgradient.io/ */

#sessao h2 {
    font-size: 3em; /*vale 48 px*/
    color: rgba(0, 0, 0, 0.767);
}
#sessao p {
    font-size: 2.3em;
    margin: 20px 0;
}
#sessao button {
    padding: 25px;
    border-radius: 50px;
    border-color: rgb rgb(19, 153,108);
    width:20em;
    cursor: pointer;
    
}
#sessao button {
    text-decoration: none;
    color: rgb(19,153,108); 
}

#app {
    padding: 15rem;
    background-color: rgb(226, 233, 233);
    display: flex;
    justify-content: space-around;
    

}
#app div button {
    padding: 25px;
    border-radius: 50px;
    border-color: rgb rgb(19, 153,108);
    width:20em;
    cursor: pointer;
}
#app button a {
    text-decoration: none;
    color:rgb(19, 153, 108);
}
#app div p {
  font-size: 2.9em;
  margin-bottom: 20px;
}


#app div img {
    width:25rem;
    height:25rem;
    margin-left:70px;
    margin-top:-70px;
}






